@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Blank Page</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->

    <link href="~/Assets/admin/libs/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/libs/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/libs/dist/css/adminlte.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link href="~/Assets/admin/libs/dist/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/libs/plugins/toastr/toastr.css" rel="stylesheet" />
    <link href="~/Assets/admin/libs/dist/css/custom.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini" ng-app="shop" ng-controller="rootController">
    <div ui-view>

    </div>
    <!-- Site wrapper -->
    <!-- ./wrapper -->
    <!-- jQuery -->

    <script src="~/Assets/admin/libs/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->

    <script src="~/Assets/admin/libs/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/plugins/angular.js"></script>
    <script src="~/Scripts/plugins/angular-ui-router.js"></script>
    <script src="~/Assets/admin/libs/plugins/toastr/toastr.min.js"></script>
    <script src="~/Assets/admin/libs/plugins/bootbox.js"></script>
    <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
    <script src="~/Assets/admin/libs/plugins/ckfinder/ckfinder.js"></script>
    <script src="~/Assets/admin/libs/plugins/ngBootbox.js"></script>
    <script src="~/Assets/admin/libs/plugins/ng-ckeditor.js"></script>

    <script src="~/Assets/admin/libs/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->

    <script src="~/Assets/admin/libs/dist/js/demo.js"></script>


    <script src="~/app/Shared/modules/shop.common.js"></script>
    <script src="~/app/Shared/services/notificationService.js"></script>

    <script src="~/app/Shared/services/commonService.js"></script>
    <script src="~/app/Shared/filter/statusFilter.js"></script>
    <script src="~/app/Shared/services/apiService.js"></script>
    <script src="~/app/Shared/directive/pagerDirective.js"></script>
    <script src="~/app/components/products/products.module.js"></script>
    <script src="~/app/components/product_categories/productCategory.module.js"></script>

    <script src="~/app/app.js"></script>
    <script src="~/app/components/home/rootController.js"></script>
    <script src="~/app/components/product_categories/productCategoryListController.js"></script>
    <script src="~/app/components/product_categories/productCategoryAddController.js"></script>
    <script src="~/app/components/product_categories/productCategoryEditController.js"></script>
    <script src="~/app/components/products/productListController.js"></script>
    <script src="~/app/components/products/productAddController.js"></script>
    <script src="~/app/components/products/productEditController.js"></script>
    <script src="~/app/components/login/loginController.js"></script>


</body>
</html>
